process {
        withName: 'MergeQCStats' {
             publishDir = [
                    path: { params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: '*.{txt,html}',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
        }
    }
