params {
    outdir                  = "/vast/scratch/users/cmero.ma/nanopore/20260109_WEHI_Bowden_Plasmid_Batch138/_transfer_Batch138_20260109_1145_3E_PBK07386_dba720b4/"

    inpdir               = "/vast/scratch/users/gupta.i/Plasmid-pipeline/Batch138.zip"

    pip_ver   = "v1.8.0"
    db_dir   = "/vast/projects/genomics_cache/ref/wf-clone-validation-db"
    model    = "dna_r10.4.1_e8.2_400bps_sup@v4.2.0"
    subdir   = '1,2,3'
    conda_env_location      = "/vast/projects/genomics_cache/shared_conda"

    only_copy = false
    res_name  = ""
    pipeline_type = "new"
    handover = true
}


profiles {
    milton {
        conda.enabled = true
        cleanup = true
        apptainer.enabled = true
        apptainer.autoMounts = true
        singularity.enabled = false
        process {
            cpus = 1
            memory = { 8.GB * task.attempt }
            time = '12h'
            errorStrategy = { 'retry' }
            maxRetries = 3
        }
    }
    test {
        conda.enabled = true
        singularity.enabled = true
        cleanup = false
        process.memory = '1 GB'
        process.cpus = 1
    }
    test_local {
        conda.enabled = true
        singularity.enabled = false
        cleanup = false
    }
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file    = "${params.outdir}/log/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/log/execution_trace_${trace_timestamp}.txt"
}
