process {
        withName: 'CreateSampleSheet' {
             publishDir = [
                    path: { params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: '*.{txt,csv}',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
        }
    }
