profiles {
    milton {
        conda.enabled = true
        cleanup = true
        apptainer.enabled = true
        apptainer.autoMounts = true
        singularity.enabled = false
        process {
            cpus = 1
            memory = { 8.GB * task.attempt }
            time = '12h'
            errorStrategy = { 'retry' }
            maxRetries = 3
        }
    }
    test {
        conda.enabled = true
        singularity.enabled = true
        cleanup = false
        process.memory = '1 GB'
        process.cpus = 1
    }
    test_local {
        conda.enabled = true
        singularity.enabled = false
        cleanup = false
    }
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
    }
}
