profiles {
   slurm {
       process {
               executor = 'slurm'
       queue = "regular"
               memory = "400G"
               shell = ['/bin/bash', '-euo', 'pipefail']
       }
   apptainer{
       enabled = false
       cacheDir = '/vast/scratch/users/gupta.i/nextflow/apptainer_cache'
    }
   singularity {
       enabled = true
       autoMounts = true
       cacheDir = '/vast/scratch/users/gupta.i/nextflow/singularity_cache'
       }
        docker {
           enabled = false
        }
   }
}
trace {
       overwrite = true
}
